@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    color: #1f2124;
}
.container{
    width: 1440px;
    margin: 0 auto;
    border: 2PX SOLID BLUE;
}
.tituloSecao{
    text-align: center;
    margin-bottom: 50px;
    font-size: 44px;
    font-weight: 700;
    color: #2d2d2d;
}

/* cabecalho */
header{
    background-image: linear-gradient(180deg, #D7D7D7E0 0%, #FFFFFF00 100%);

    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;

}
header .menu {
    width: 96%;
    height: 85px;
    background-color: whitesmoke;
    padding: 20px 50px;
    border-radius: 10px;
    z-index: 999;

    position: fixed;
    display: flex;
}
header .menu .navegacao{

    list-style: none;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
header .menu .navegacao a {
    text-decoration: none;
    color: #1f2124;
    font-weight: 500;
}
header .menu .navegacao .idioma{
    display: flex;
    gap: 1px;
}
header .menu .navegacao .idioma img{
    width: 20px;
}

/* video banner */

.videoBanner{
    width: 100%;
    margin-top: -35px;
    z-index: -12;

    position: relative;
}
.videoBanner video{
    width: 100%;
    height: 660px;
    object-fit: cover;
    display: block;
}

/* conheça o parque */

.conhecerParque .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    padding: 50px 0;
}
.conhecerParque .slogan{
    flex-basis: 50%;
}
.conhecerParque .slogan img{
    max-width: 100%;
    min-width: 652px;
}
.conhecerParque .slogan .texto{
    padding-top: 22px;

    flex-basis: 50%;
    font-size: 10px;
    font-weight: 300;
    line-height: 30px;
    color: #2d2d2d;
}
.conhecerParque .texto p{
    margin-bottom: 20px;
}
.conhecerParque .botaoConhecaParque {
    text-decoration: none;
    background-color: #1478BD;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    font-size: 13px;
    padding: 15px, 25px;
    font-weight: 500;

    transition: all 0.3s;
}
.conhecerParque .botaoConhecaParque:hover {
    background-color: #006627;
    box-shadow: 5px 5px 10px 0px #00000050;
}

/* Nosse blog */
.nossoBlog {
    background-color: #f9f9f9;
    padding: 50px 0 50px 0;
}
.nossoBlog .publicacoes {
    display: flex;
    flex-direction: row;
    gap: 50px;

}
.nossoBlog .publicacao {
    flex-basis: 33%;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;

    box-shadow: 0px 0px 10px 0px #00000010;
    transition: all 0.3s;

}
.nossoBlog .publicacao img {
    max-width: 100%;
}
.nossoBlog h2{
    font-size: 17px;
    font-weight: 20px;
    line-height: 20px;
    color: #2d2d2d;
    margin: 10px 0 10px 0;
}
.nossoBlog p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #2d2d2d;
}
.nossoBlog .publicacao:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 40px #0000005a;
}
/* Footer */
footer {
    height: 150vh;
    display: flex;
    flex-direction: column;
    background-color: #00000000;
    border: 2px solid red;
    background: radial-gradient(circle at 0% 0%, #E4151E 0%, rgba(228, 21, 30, 1) 20%, rgba(228, 21, 30, 0.2) 55%, transparent 75%), radial-gradient(circle at 100% 0%, #FAB518 0%, rgba(250, 181, 24, 1) 20%, rgba(250, 181, 24, 0.2) 55%, transparent 75%), radial-gradient(circle at 0% 100%, #1478BE 0%, rgba(20, 120, 190, 1) 0%, rgba(20, 120, 190, 1) 30%, transparent 75%), radial-gradient(circle at 100% 100%, #029439 0%, rgba(41, 147, 53, 1) 30%, rgba(41, 147, 53, 0.2) 75%, transparent 75%);
}
footer .desenhoFooter {
    width: 100%;
    height: fit-content;
    border: 2px solid red;
}
footer .container{
    margin: 50px 0px 0px 0px;
    max-width: none;
    width: 100%;
}
footer .primeiraLinha{
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    color: #fff;

    flex-wrap: wrap;
    justify-content: space-evenly;

    border: 2px green solid ;
}
.primeiraLinha input {
    margin-top: 30px;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.primeiraLinha #digitarEmail{
    flex: 1;
    height: 54px;
    padding: 0 100px 0px 20px;
    background: rgba(255, 255, 255, .26);
    box-sizing: border-box;
    margin-top: 20px;
    outline: none;
}
.primeiraLinha #digitarEmail::placeholder {
    color: #fff;
}
.primeiraLinha #enviarEmail {
    margin-left: -50px;
    width: 200px;
    text-decoration: none;
    background-color: #1478BD;  
    padding: 15px 25px;
    font-weight: 500;

    transition: all 0.3s;
}
.primeiraLinha #enviarEmail:hover {
    background-color: #006627;
}
footer p{
    max-width: 300px;
    font-size: 20px;
}

footer .segundaLinha{
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    color: #fff;

    flex-wrap: wrap;
    justify-content: space-evenly;

    border: 2px green solid ;
}
.segundaLinha img{
    width: 192.59px;
    height: 109.66px;
}
.segundaLinha .linksInstitucionais{
    display: flex;
}
